
.galeria{
    width: 80%;
    max-width: 600px;
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    margin-top: 30px;
    margin-left: 250px;

}

.slide{
    display:none;
    position:absolute;
    width: 100%;
    height: 100%;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.active{
    display: block;
    animation: fade 1s ease-in-out;
}

@keyframes fade{
    from{opacity:0.3;}
    to{opacity:1;}
}
