
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background: #F2F2F2;
    color: white;
}


.container {
    width: 1920px;
    background: #0E4A7B;
    overflow: hidden;
    padding: 25px;
}

.contenedor_foto_perfil img {
    width: 500px;
    height: 500px;
    left: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #D9A441;
    position:relative;
}
.nombre{
    color: white;
    left: 1000px;
    top: 200px;
    position: absolute;
    font-size: 50px;

}

.contenedor_botones{
    width: 1920px;
    background-color: #376996;
}

.boton {
    display: inline-block;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
    text-align: center;
    background: #D9A441;       
    color: white;
    letter-spacing: 0.5px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.boton:hover {
    background: #e7c78c;
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}
.soy{
    width: 1920px;
}
.soy h1{
    color:#376996;
    padding-left: 300px;
    padding-top: 50px;
}
.soy hr{
     width: 300px;
    border: none;
    border-top: 3px solid #D9A441;
}
.soy p{
    color:black;
    padding-left: 300px;
    width: 80%;         
    text-align: justify; 
}

.card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px 10px;
    border-bottom: 5px solid #D9A441;
    max-width: 800px;
    margin-left: 300px;
    margin-top: 50px;
}

.logo {
    width: 60px;
    height: 60px;
}

.content {
    display: flex;
    flex-direction: column;
}

.title {
    color: black;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.institution {
    margin: 3px 0;
    font-size: 15px;
    font-weight: normal;
    color: #555;
}

.date {
    margin: 3px 0 10px 0;
    color: #666;
    font-size: 14px;
}

.description {
    margin: 0;
    line-height: 1.5;
    font-size: 14px;
    color: #333;
    text-align: justify;
}

.skills-container {
    color: #D9A441;
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
}

.skills-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.skills-table {
    width: 100%;
    border-collapse: collapse;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 4px 20px rgba(0,0,0,0.15);
}

.skills-table th {
    background: #D9A441;
    color: white;
    padding: 12px;
    font-size: 16px;
    text-align: left;
}

.skills-table td {
    color:black;
    padding: 12px;
    border-bottom: 1px solid black;
}

.redes-sociales {
    text-align: center;
    margin-top: 30px;
}

.redes-sociales h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.iconos-redes {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.iconos-redes a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .2s ease;
}

.iconos-redes a img {
    width: 55px;
    height: 55px;
    margin-bottom: 5px;
}

.iconos-redes a:hover {
    transform: scale(1.1);
}

/* Colores personalizados opcionales */
.linkedin span {
    color: #0A66C2;
}

.github span {
    color: #000;
}

.compensar span {
    color: #F36C21;
}



